PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/lucifur?retryWrites=true&w=majority
JWT_SECRET=lucifur_super_secret_key_change_in_production
JWT_EXPIRE=30d
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
NODE_ENV=development
